<h1 class="text-center text-primary my-4 block p-3"><i class="far fa-building"></i> Who We Are</h1>
<div class="grid grid-cols-2 w-80 mx-auto my-4">
    <img src="../img/logo.png" class="cover w-full my-auto" alt="">
    <div class="text-center text-primary p-3 bg-secondary rounded-md">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sollicitudin justo et congue tincidunt. Donec vitae nibh eu massa interdum ullamcorper. Nullam varius ipsum lorem, vitae faucibus dolor pharetra eu. In luctus tristique felis,
            luctus tristique nisl placerat vitae. Cras porttitor varius euismod. Sed ac venenatis urna. Curabitur egestas orci sed justo efficitur cursus. Integer nec luctus enim, in iaculis lacus. Nam a porta dui. Vestibulum ante ipsum primis in faucibus
            orci luctus et ultrices posuere cubilia curae; Proin molestie est quis gravida tristique. Nullam porttitor eu enim eu imperdiet.

        </p>
        <iframe class="mx-auto block my-3 w-full" width="560" height="315" src="https://www.youtube.com/embed/F_o8VkCKBS8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>