<form action="" method="post" class="mx-auto bg-secondary p-3 max-w-50 text-primary">
    <fieldset>
        <legend>Contact</legend>
        <div class="grid grid-cols-2 gap-4 p-3">
            <label class="p-3" for="person" name="name">Name</label>
            <input class="p-3" type="text" id="person" name="person">
        </div>
        <div class="grid grid-cols-2 gap-4 p-3">
            <label class="p-3" for="phone">Phone</label>
            <input class="p-3" type="text" id="phone" name="phone">
        </div>
        <div class="grid grid-cols-2 gap-4 p-3">
            <label class="p-3" for="email">Email</label>
            <input class="p-3" type="email" id="email" name="email">
        </div>
    </fieldset>
    <div class="w-full">
        <button id="send" type="submit" class="btn btn-primary p-3 mx-auto block my-3 text-primary rounded-md">Enviar</button>
    </div>
</form>