<form action="" method="post" class="mx-auto bg-secondary p-3 max-w-50 max-w-80 text-primary rounded-3">
    <fieldset>
        <legend class="p-3 text-center">Contact</legend>
        <div class="mb-3 col-10 mx-auto">
            <label class="form-label" for="person" name="name"><i class="fas fa-user"></i> Name</label>
            <input class="form-control" type="text" placeholder="Ana" id="person" name="person">
        </div>
        <div class="mb-3 col-10 mx-auto">
            <label class="form-label" for="phone"><i class="fas fa-phone"></i> Phone</label>
            <input class="form-control" type="tel" placeholder="261 4545454" id="phone" name="phone">
        </div>
        <div class="mb-3 col-10 mx-auto">
            <label class="form-label" for="email"><i class="fas fa-envelope"></i> Email</label>
            <input class="form-control" type="email" placeholder="person@gmail.com" id="email" name="email">
        </div>
    </fieldset>
    <div class="">
        <button id="send" type="submit" class="btn btn-primary p-3 mx-auto block my-3 text-primary rounded-md"><i class="fas fa-paper-plane"></i> Enviar</button>
    </div>
</form>
<nav class="flex justify-center">
    <a href="https://www.facebook.com" class="btn btn-primary p-3 mx-3 mb mb-5 block my-3 text-primary rounded-md"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com" class="btn btn-primary p-3 mx-3 mb mb-5 block my-3 text-primary rounded-md"><i class="fab fa-instagram"></i></a>
    <a href="https://www.twitter.com" class="btn btn-primary p-3 mx-3 mb mb-5 block my-3 text-primary rounded-md"><i class="fab fa-twitter"></i></a>
</nav>