<div class="absolute z-2 h-full w-full grid grid-cols-2">
    <div class="my-auto flex flex-col justify-center h-full">
        <ul>
            <li class="text-primary text-center py-3 text-xl">
                We care about our clients
            </li>
            <li class="text-primary text-center py-3 text-xl">
                Safe flying
            </li>
            <li class="text-primary text-center py-3 text-xl">
                Cheapest tickets
            </li>
        </ul>
        <a id="tickets" href="#products" class="btn btn-primary mx-auto rounded-md p-3">Buy your tickets Here!</a>
    </div>
    <div class="my-auto flex flex-col justify-center h-full">
        <h1 class="text-primary text-center">American <span class="text-secondary">Airlines</span></h1>
        <h2 class="text-primary text-center">The pleasure of flying</h2>
        <h3 class="text-primary text-center">Fly to the most important cities of the world at the cheapest cost!</h3>
    </div>
</div>
<div id="bg" class="z-1">
</div>