<div class="absolute z-2 h-full w-full grid grid-cols-2 mb-3">
    <div class="my-auto h-full w-full">
        <ul class="h-full w-full flex flex-col justify-center">
            <li class="text-primary text-center py-3 text-xl">
                <i class="fas fa-check-circle"></i> We care about our clients
            </li>
            <li class="text-primary text-center py-3 text-xl">
                <i class="fas fa-check-circle"></i> Safe flying
            </li>
            <li class="text-primary text-center py-3 text-xl">
                <i class="fas fa-check-circle"></i> Cheapest tickets
            </li>
            <a id="tickets" href="#products" class="btn btn-primary mx-auto rounded-md p-3 block "><i class="fas fa-ticket-alt"></i> Buy your tickets Here!</a>
        </ul>
    </div>
    <div class="my-auto flex flex-col justify-center h-full row-1 w-full">
        <h1 class="text-primary text-center w-full">American <span class="text-secondary">Airlines</span></h1>
        <h2 class="text-primary text-center w-full">The pleasure of flying</h2>
        <h3 class="text-primary text-center w-full">Fly to the most important cities of the world at the cheapest cost!</h3>
    </div>
</div>
<div id="bg" class="z-1 h-full ">
</div>